<section class="banner">
  <div class="banner-overlay"></div>
  <div class="banner-content">
    <h1>Vive la pasión del fútbol con estilo</h1>
    <p>Encuentra camisetas vintage de los mejores equipos de fútbol de todos los tiempos.</p>
    <a href="/catalogo" class="btn-banner">Explorar el catálogo</a>
  </div>
</section>



<section class="productos">
  <h2>Productos Destacados</h2>
  <div class="productos-grid">

    <div class="producto-card">
      <img src="assets/images/ingla.jpeg" alt="Producto 1">
      <h3>Camiseta Retro 1990</h3>
      <p class="precio">€35,00</p>
      <a href="/detalle/1" class="btn">Ver detalles</a>
    </div>
 
    <div class="producto-card">
      <img src="assets/images/barsa.jpeg" alt="Producto 2">
      <h3>Camiseta Retro 1985</h3>
      <p class="precio">€40,00</p>
      <a href="/detalle/2" class="btn">Ver detalles</a>
    </div>

    <div class="producto-card">
      <img src="assets/images/brasil.jpeg" alt="Producto 3">
      <h3>Camiseta Retro 1998</h3>
      <p class="precio">€45,00</p>
      <a href="/detalle/3" class="btn">Ver detalles</a>
    </div>
  </div>
</section>


<section class="sobre-nosotros">
  <div class="contenido">
    <h2>Sobre Nosotros</h2>
    <p>Somos una tienda en línea dedicada a ofrecer camisetas de fútbol vintage para los verdaderos fanáticos del deporte. 
    Nuestra misión es brindarte productos de calidad que resalten la historia y la pasión por el fútbol.</p>
    <p>¡Gracias por ser parte de nuestra familia futbolera!</p>
  </div>
  <div class="imagen">
    <img src="assets/images/trabajo.jpg" alt="Sobre Nosotros">
  </div>
</section>
