<div class="sobre-nosotros">
  <div class="contenido">
    <h2>Sobre Nosotros</h2>
    <p>
      Somos una tienda en línea dedicada a ofrecer camisetas de fútbol vintage para los verdaderos fanáticos del deporte. 
      Nuestra misión es brindarte productos de calidad que resalten la historia y la pasión por el fútbol. Con un enfoque en el diseño exclusivo, 
      nos enorgullece ofrecerte una amplia selección de camisetas que capturan la esencia del fútbol clásico y los mejores momentos de la historia del deporte.
    </p>
    <p>
      Creemos que el fútbol no es solo un juego, es una forma de vida. Por eso, cada camiseta que ofrecemos está cuidadosamente seleccionada 
      para garantizar que nuestros clientes reciban solo lo mejor. ¡Gracias por ser parte de nuestra familia futbolera!
    </p>
    <div class="localizacion">
      <h3>¿Dónde estamos?</h3>
      <p>Nuestra sede principal está en Madrid, España.</p>
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.7438256462574!2d-3.7037906846020624!3d40.41677597936462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422887bbf1c2ef%3A0x89b2ef40ffb6fcb!2sMadrid!5e0!3m2!1ses!2ses!4v1614694210267!5m2!1ses!2ses" 
        width="100%" 
        height="250" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy">
      </iframe>
    </div>
  </div>
  <div class="imagen">
    <img src="/assets/images/trabajo.jpg" alt="Sobre Nosotros">
  </div>
</div>

